/* start : fonts */
/* Noto Sans K */
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 100;
    font-style: normal;
    src:url("/assets/font/NotoSans-Thin.woff2") format("woff2"),
    url("/assets/font/NotoSans-Thin.woff") format("woff"),
    url("/assets/font/NotoSans-Thin.ttf") format("truetype"),
    url("/assets/font/NotoSans-Thin.otf") format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-style: normal;
    src:url("/assets/font/NotoSans-Light.woff2") format("woff2"),
    url("/assets/font/NotoSans-Light.woff") format("woff"),
    url("/assets/font/NotoSans-Light.ttf") format("truetype"),
    url("/assets/font/NotoSans-Light.otf") format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-style: normal;
    src:url("/assets/font/NotoSans-Regular.woff2") format("woff2"),
    url("/assets/font/NotoSans-Regular.woff") format("woff"),
    url("/assets/font/NotoSans-Regular.ttf") format("truetype"),
    url("/assets/font/NotoSans-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-style: normal;
    src:url("/assets/font/NotoSans-Medium.woff2") format("woff2"),
    url("/assets/font/NotoSans-Medium.woff") format("woff"),
    url("/assets/font/NotoSans-Medium.ttf") format("truetype"),
    url("/assets/font/NotoSans-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-style: normal;
    src:url("/assets/font/NotoSans-Bold.woff2") format("woff2"),
    url("/assets/font/NotoSans-Bold.woff") format("woff"),
    url("/assets/font/NotoSans-Bold.woff2") format("woff2"),
    url("/assets/font/NotoSans-Bold.woff") format("woff");
}
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 900;
    font-style: normal;
    src:url("/assets/font/NotoSans-Black.woff2") format("woff2"),
    url("/assets/font/NotoSans-Black.woff") format("woff"),
    url("/assets/font/NotoSans-Black.ttf") format("truetype"),
    url("/assets/font/NotoSans-Black.otf") format("opentype");
}
/* Roboto */
@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
    src:url("/assets/font/Roboto-Thin.woff") format("woff"),
    url("/assets/font/Roboto-Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src:url("/assets/font/Roboto-Light.ttf") format("truetype"),
    url("/assets/font/Roboto-Light.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src:url("/assets/font/Roboto-Regular.ttf") format("truetype"),
    url("/assets/font/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src:url("/assets/font/Roboto-Medium.ttf") format("truetype"),
    url("/assets/font/Roboto-Medium.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src:url("/assets/font/Roboto-Bold.ttf") format("truetype"),
    url("/assets/font/Roboto-Bold.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    src:url("/assets/font/Roboto-Black.ttf") format("truetype"),
    url("/assets/font/Roboto-Black.woff") format("woff");
}


@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url(/assets/font/Pretendard-Black.subset.woff2) format('woff2'), url(/assets/font/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url(/assets/font/Pretendard-ExtraBold.subset.woff2) format('woff2'), url(/assets/font/Pretendard-ExtraBold.subset.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(/assets/font/Pretendard-Bold.subset.woff2) format('woff2'), url(/assets/font/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(/assets/font/Pretendard-SemiBold.subset.woff2) format('woff2'), url(/assets/font/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(/assets/font/Pretendard-Medium.subset.woff2) format('woff2'), url(/assets/font/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(/assets/font/Pretendard-Regular.subset.woff2) format('woff2'), url(/assets/font/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url(/assets/font/Pretendard-Light.subset.woff2) format('woff2'), url(/assets/font/Pretendard-Light.subset.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url(/assets/font/Pretendard-ExtraLight.subset.woff2) format('woff2'), url(/assets/font/Pretendard-ExtraLight.subset.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url(/assets/font/Pretendard-Thin.subset.woff2) format('woff2'), url(/assets/font/Pretendard-Thin.subset.woff) format('woff');
}

/* end : fonts */